* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa;
}

[data-mantine-color-scheme="dark"] body {
  background-color: #030712;
}

.mantine-Select-option[data-checked] svg {
  color: var(--mantine-primary-color-filled);
}
